@tailwind base;
@tailwind components;
@tailwind utilities;

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-now .flip-card-inner {
  transform: rotateY(180deg);
}

.transform-rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-visibility-hidden {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.user-drag-none {
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
